<br>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<table>
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @friends.each do |friend| %>
    <tr>
      <td><%= friend.full_name %></td>
      <td>
        <%= button_to "Invite!", send_invite_path(friend.id), {class: 'btn btn-default'} %> 
      </td>
    </tr>
  <% end %>
</table>
